@media only screen and (max-width: 770px){
  #header{
    background-image: none;
  }  
  .container{
    margin-right: 50px;
    margin-left: 50px;    
    }
    .logo{
    margin-top: 27px;    
    width: 70px;
    }
    .header-text{
    margin-top: 100px;
    }
    h1{
    font-size: 28px;    
    }
    #menuBtn{
        width: 40px; 
        right:50px;
        cursor: pointer;
       }
       .common-btn{
        padding: 10px 16px;
        }
        .social-icons img{
            width: 14px;
            margin: 15px auto;
            
          }
          .about-left-col,.about-right-col {
            flex-basis: 100%;  
            }
            .about-text{  
                margin: 50px 50px 0;
                display: inline-block;
                }
                .feature-col{
                    flex-basis: 100%; 
                    margin-bottom: 20px;
                    }
                    .course-left-col,.course-right-col{
                        flex-basis: 100%; 
                       } 
                       .course-right-col{
                        margin-top: 70px;
                       }
                       .contact-left-col,.contact-right-col{
                        flex-basis: 100%;
                       }
                       .contact-right-col{
                        margin-top: 50px;
                       }
                       .footer-left-col,.footer-right-col{
                        flex-basis: 100%;
                      }
                      .link-title{
                        flex-basis: 50%;
                        margin-bottom: 30px;
                      }


}